header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B4570;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

h1{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}

nav{
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "fira code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(0.42, 0, 0.1, 2.38);
}

#button:hover {
    transform: scale(1.1);
}